		@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro);
		
		body {
			background-color: #f5eee5;
			color: #3f464e;
		}
		a:link, a:visited {
    		color: #fff;
    		text-decoration: underline;
		}
		a:hover {
    		color: #ccc;
    		text-decoration: underline;
		}
		p {
			color: #fff;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 14px;
			letter-spacing: 0.05em;
			line-height: 1.5;
			margin-bottom: 40px;
			text-align: center;
		}
		.wrapper {
			background-color: #46c89d;
			border-radius: 20px;
			box-shadow: 2px 3px 1px 0px #e2d8cc;
			margin: 40px auto;
			padding: 30px;
			width: 400px;
		}
		.avatar {
			background-image: url('IMG_1041%20(1).JPG');
			border-radius: 50%;
			box-shadow: 1px 1px 5px 2px rgba(51,51,51,0.4);
			height: 220px;
			margin: 30px auto;
			width: 220px;	
		}
		h1 {
			font-family: 'Slabo 27px', serif;
			font-size: 44px;
			font-weight: 400;
			margin-top: 15px;
			margin-bottom: 0;
			text-align: center;	
		}
		h2 {
			color: #fff;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 18px;
			font-style: italic;
			font-weight: 400;
			margin-bottom: 30px;
			text-align: center;
			text-transform:capitalize;
		}
